<div class="w3-top">
    <div class="w3-bar w3-light-grey top-menu">
        <div class="w3-bar-item logo">{{title}}</div>
        <a routerLink="/" class="w3-bar-item w3-button">Home</a>
        
        <fa-icon id="ex4" class="w3-bar-item w3-button w3-right faShoppingCart" [icon]="faShoppingCart">
        </fa-icon>

        <div id="ex4">
            <span class="p1 fa-2x has-badge" attr.data-count="{{count}}">
            </span>
        </div>
        <a routerLink="login" class="w3-bar-item w3-button w3-right">Login</a>
    </div>
</div>
